<center>
    <table><tr><td>
    <div class="form-title">Service</div>
    <select class="form-field" name="service" id="service"></select><br />
    </td></tr></table>
</center>
<div id="events"></div>