<div class="form-title"><h2>Server Status</h2></div>
<table><tr><td>
<div class="form-title">Started: {{serverStarted}}</div>
<div class="form-title">Last Update Attempt: {{lastUpdateAttempt}}</div>
</td><td>
<div class="form-title">Last EIT updated: {{lastEitUpdated}}</div>
<div class="form-title">Last Carousel updated: {{lastCarouselUpdated}}</div>
</td></tr></table>
<div class="submit-container">
    <a href="#" class="submit-button">Update EIT</a>
</div>